# Nuxt dev/build outputs
.output
.data
src/front/.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules
.nuxt

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
.idea/*
db/*

# Local env files
.env
.env.*
!.env.example
