.form {
  padding: 6px;

  &__item {
    margin-bottom: 16px;
  }

  &__label {
    color: #fff;
    display: block;

    font-size: 12px;
    line-height: 14px;

    padding-left: 10px;
    margin-bottom: 8px;
  }

  &__input {
    border: 1px solid #f2f2f2;

    display: block;

    &--text {
      border-radius: 18px;
      box-shadow: none;

      font-size: 12px;
      line-height: 14px;

      padding: 10px 15px;
      outline: none;

      width: 100%;
      height: 45px;
    }

    &--checkbox {
      margin-right: 8px;
    }
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 16px;
  }

  &__checkbox {
    display: flex;
    align-items: center;

    padding-left: 5px;
  }

  &__remember {
    color: #fff;
  }

  &__action {
    margin-top: 50px;
    width: 100%;
  }
}

.form-action {
  background-color: #fff;
  border-radius: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px 15px;

  &__text {
    color: #474747;
    font-weight: 500;
  }
}
