.offer {
  position: relative;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 50;

    padding: 16px;
  }

  &__swiper {
    max-width: 580px;

    ::v-deep {
      .swiper-pagination {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5));
  
        display: flex;
        justify-content: center;
        align-items: flex-end;
  
        bottom: 0;
        top: unset;
  
        pointer-events: none;
        padding-bottom: 10px;
  
        height: 100%;
      }
  
      .swiper-pagination-bullet {
        background-color: rgba(255, 255, 255, 0.8);
        width: 7px;
        height: 7px;
      }
  
      .swiper-pagination-bullet-active {
        background-color: #fff;
        width: 8px;
        height: 8px;
      }
    }
  }

  &__info {
    padding-right: 16px;
    padding-left: 16px;
  }

  &__title {
    color: #474747;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;

    margin-top: 12px;
    margin-bottom: 4px;
  }

  &__area {
    color: #878787;
    font-size: 10px;
    line-height: 12px;

    margin-bottom: 8px;
  }

  &__price {
    color: #474747;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;

    margin-bottom: 12px;
  }

  &__tags {
    margin-bottom: 36px;
  }

  &__counts,
  &__dates,
  &__characteristics {
    margin-bottom: 20px;
  }

  &__description {
    margin-bottom: 32px;
  }

  &__pricelist {
    margin-bottom: 26px;
  }


  &__reserve {
    margin: 35px 15px 70px;
    width: calc(100% - 30px);
  }
}

.offer-header-return {
  background-color: #fff;
  border: 1px solid #f2f2f2;
  border-radius: 18px;
  cursor: pointer;

  display: flex;
  align-items: center;

  padding: 4px 8px;

  transition: border-color .3s linear;

  &:hover {
    border-color: #000;
  }

  &__icon {
    margin-right: 8px;
    width: 12px;
    height: 12px;
  }

  &__text {
    color: #474747;
    font-size: 12px;
    line-height: 14px;
  }
}

.offer-header-like {
  $like: &;

  background-color: #fff;
  border: 1px solid #f2f2f2;
  border-radius: 50%;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 5px;

  transition: border-color .3s linear;

  &:hover {
    border-color: #000;
  }

  &--liked {
    #{$like}__icon {
      fill: #ff0000;

      path {
        stroke: #ff0000;
      }
    }
  }

  &__icon {
    display: block;
    width: 16px;
    height: 16px;
  }
}

.offer-tags {
  $self: &;

  display: flex;
  flex-wrap: wrap;

  padding: 0;

  &__item {
    background-color: #f2f2f2;
    border-radius: 18px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 4px 8px;
    margin-right: 4px;

    &--is-accent {
      background-color: #446af2;

      #{$self}__text {
        color: #fff;
      }
    }
  }

  &__text {
    color: #474747;

    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
  }
}

.offer-counts {
  padding-right: 16px;
  padding-left: 16px;

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 12px;
  }

  &__title,
  &__text {
    color: #474747;
    font-size: 12px;
    line-height: 14px;
  }

  &__title {
    font-weight: 500;
  }

  &__count {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
  }
}

.offer-counts-settings {
  display: flex;
  align-items: center;
  justify-content: center;

  &__button {
    background-color: #fff;
    border: 1px solid #f2f2f2;
    border-radius: 18px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 4px 24px;
  }

  &__icon {
    color: #898989;
    font-size: 30px;
    font-weight: 500;
    line-height: 30px;
  }

  &__value {
    color: #898989;
    font-size: 24px;
    font-weight: 500;
    line-height: 26px;

    margin-right: 8px;
    margin-left: 8px;
  }
}

.offer-dates {
  padding-right: 40px;
  padding-left: 40px;

  &__select,
  &__reserve {
    width: 100%;
  }

  &__select {
    margin-bottom: 12px;
  }
}

.offer-dates-select,
.offer-dates-reserve {
  border-radius: 20px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 15px;

  &__text {
    font-size: 14px;
    line-height: 16px;
  }
}

.offer-dates-select {
  border: 1px solid #f2f2f2;

  &__text {
    color: #474747;
  }
}

.offer-dates-reserve {
  background-color: #446af2;
  border: 2px solid #446af2;
  color: #fff;

  transition: background-color .3s linear, color .3s linear;

  &:hover {
    background-color: #fff;
    color: #446af2;
  }
}

.offer-description {
  padding-right: 15px;
  padding-left: 15px;

  &__title {
    color: #474747;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;

    margin-bottom: 12px;
  }

  &__list {
    padding-left: 16px;
  }

  &__row {
    color: #474747;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
  }
}

.offer-characteristics {
  list-style: none;

  padding-right: 15px;
  padding-left: 15px;

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__key,
  &__value {
    font-size: 14px;
    line-height: 16px;

    width: 45%;
  }

  &__key {
    color: #898989;
  }

  &__value {
    color: #474747;
    text-align: right;
  }
}

.offer-pricelist,
.offer-addresses {
  padding-right: 15px;
  padding-left: 15px;

  &__title {
    color: #474747;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;

    margin-bottom: 12px;
  }
}

.offer-pricelist-list,
.offer-addresses-list {
  list-style: none;
  padding: 0;

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__key,
  &__value {
    font-size: 14px;
    line-height: 16px;
    width: 45%;
  }

  &__key {
    color: #898989;
  }

  &__value {
    color: #474747;
    font-weight: 500;
    text-align: right;
  }
}

.offer-reserve {
  background-color: #446af2;
  border: 2px solid #446af2;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 15px;
  transition: background-color .3s linear, color .3s linear;

  &:hover {
    background-color: #fff;
    color: #446af2;
  }

  &__text {
    font-size: 14px;
    line-height: 16px;
  }
}
